################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLearningDemo/bin/Debug/net8.0
/.vs/QLearningDemo
/QLearningDemo/obj
/.vs/ProjectEvaluation
/DeepQLearning/bin/Debug/net8.0
/DeepQLearning/obj
